
*.xml

build/classes/.netbeans_automatic_build

build/classes/.netbeans_update_resources

*.class

*.png

*.mf

*.properties
/dist/
src/com/amf/gamemanager/Pathfinder.java

src/com/amf/gamemanager/TurnManager.java
