
*.xml

build/classes/.netbeans_automatic_build

*.class

build/classes/.netbeans_update_resources

manifest.mf

build/classes/resources/tileset.png

nbproject/genfiles.properties

nbproject/private/private.properties

nbproject/project.properties
